/* header and nav start */

#hc_3 {
  border-bottom: 4px solid rgb(70, 199, 99);
}

/* header and nav end */

/* content start */

body {
  background: rgb(233, 233, 233);
  transition: 300ms ease-out;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.content {
  overflow: hidden;
  max-width: 1900px;
  align-self: center;
}

.clip-path {
  width: 100%;
  height: 700px;
  background: rgb(255, 245, 228);
  clip-path: polygon(100% 100%, 100% 0%, -1000% 100%);
  rotate: 180deg;
  display: flex;
  flex-flow: row-reverse;
  margin-top: 60px;
}

#cp-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cp-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  rotate: 180deg;
  text-align: center;
}

#cp-right-info {
  width: 90%;
  animation: top-anim 1s ease-out;
}

#cp-right h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
#cp-right p {
  font-size: 20px;
  text-align: center;
  color: rgb(83, 83, 83);
}

#info-img {
  width: 500px;
  height: 500px;
  rotate: 180deg;
  animation: top-anim 850ms ease-out;
}

@keyframes top-anim {
  from {
    translate: 2000px;
  }
  to {
    translate: 0px;
  }
}

.title-info-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 120px;
}
.title-info-box div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #54c459;
  margin-right: 5%;
  margin-bottom: 1px;
}
.title-info-box h1 {
  font-size: 25px;
  margin-right: 12px;
}

#info-box-1,
#info-box-2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#info-box-1 {
  margin-top: 50px;
}

.info-boxes {
  width: 40%;
  height: 135px;
  background: white;
  border-radius: 7px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
}

#info-boxes-1,
#info-boxes-3 {
  transform: translateX(2000px);
  transition: transform 500ms ease-out;
}

#info-boxes-2,
#info-boxes-4 {
  transform: translateX(-2000px);
  transition: transform 500ms ease-out;
}

.boxes-right {
  height: 100%;
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxes-right img {
  width: 120px;
}
.boxes-left {
  height: 100%;
  width: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.boxes-left h2 {
  width: 90%;
  font-size: 20px;
}
.boxes-left p {
  width: 90%;
  margin-top: 5px;
  font-size: 16px;
  color: rgb(83, 83, 83);
}

#davani-h1 {
  margin-top: 7px;
  margin-right: 7px;
}

.davani-info {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  margin-top: 30px;
}

.davani-box {
  width: 60%;
  padding-left: 20px;
  padding-right: 20px;
  height: 185px;
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  background: white;
  border-radius: 6px;
  opacity: 0;
  transition: 1s ease-out;
}

#dav-box-2 {
  margin-top: 25px;
}

.davani-box h1 {
  font-size: 22px;
  margin-top: 25px;
  width: 100%;
  color: #54c459;
}
.davani-box #line {
  height: 2px;
  width: 100%;
  background: #54c459;
  margin-top: 10px;
}
.davani-box p {
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  color: gray;
}
.davani-pes {
  margin-top: 1px;
}
#davani-p2 {
  width: auto;
  display: inline;
}

.phone-number {
  font-family: yekan, peyda;
}

.davani-pes span {
  display: inline;
  margin-left: 2px;
  margin-right: 2px;
}

.web-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
}

.web-box {
  width: 420px;
  height: 450px;
  position: relative;
  background: white;
  border-radius: 15px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.web-box.active {
  opacity: 1;
  transform: translateY(0);
}

.web-div-images {
  width: 170px;
  height: 80px;
  border-radius: 50px;
  border: 1px solid #54c459;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: -40px;
  right: -40px;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
}

.web-div-images p {
  font-size: 18px;
}

.web-info-img {
  width: 50px;
  height: 50px;
}

.web-info-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.prof-img {
  width: 90px;
  height: 90px;
  margin-top: 40px;
}
.web-info-content h1 {
  font-size: 20px;
  margin-top: 25px;
}

.web-info-content p {
  font-size: 18px;
  margin-top: 50px;
  color: gray;
  width: 80%;
  text-align: center;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  max-width: 1900px;
  align-self: center;
}
.gallery-top {
  width: 85%;
}

.slider {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1900px;
  align-self: center;
  margin-bottom: 100px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.slider.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-box {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.images {
  border-radius: 5px;
  width: 100%;
  animation-name: fade;
  animation-duration: 1.2s;
}

#next,
#back {
  width: 60px;
  position: absolute;
  top: 45%;
  height: 60px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: none;
  font-size: 22px;
  transition: 300ms ease;
  cursor: pointer;
}

#next:hover,
#back:hover {
  background: #00000094;
}

#p-slide {
  position: absolute;
  top: 10px;
  left: 12px;
  color: white;
}

#next {
  right: 0;
}

#back {
  left: 0;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#image-2,
#image-3,
#image-4,
#image-5 {
  display: none;
}

.circles {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
}
.circle {
  width: 20%;
  height: 11px;
  border-radius: 100%;
  background: none;
  border: 1px solid white;
  margin-left: 7px;
  margin-right: 7px;
  transition: 300ms ease;
  cursor: pointer;
}

.circle:hover {
  background: rgb(70, 199, 99);
}

#circle-1 {
  background: rgb(70, 199, 99);
  width: 50%;
  border-radius: 15px;
}

/* content end */

/* footr start */

/* footr end */

/* responsive start */

@media screen and (max-width: 1200px) {
  #info-img {
    width: 400px;
    height: 400px;
  }
  .info-boxes {
    flex-flow: column;
    height: 250px;
  }
  .info-boxes {
    padding: 0;
  }
  .boxes-left {
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  .boxes-left h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .boxes-left p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .clip-path {
    height: 500px;
    margin: 0;
  }
  #cp-right-info h1 {
    font-size: 25px;
  }
  #cp-right-info p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .davani-box {
    width: 85%;
    height: 223px;
    padding-bottom: 20px;
  }
  .web-info {
    display: flex;
    flex-flow: column;
  }
  .web-box {
    width: 60%;
    height: 470px;
  }
  #web-box-2 {
    margin-top: 100px;
  }
}

@media screen and (max-width: 900px) {
  #info-box-1,
  #info-box-2 {
    flex-flow: column;
    margin: 0;
  }
  #info-box-1 {
    margin-top: 20px;
  }
  .info-boxes {
    width: 85%;
    margin-top: 30px;
    padding: 10px;
    height: 240px;
  }
  .boxes-left h2 {
    margin-top: 5px;
  }
  .boxes-left p {
    margin-top: 20px;
  }
  .boxes-right img {
    width: 130px;
  }
  #cp-right {
    width: 45%;
  }
  #cp-left {
    width: 55%;
  }
  #cp-right-info h1 {
    font-size: 22px;
  }
  #cp-right-info p {
    font-size: 16px;
  }
  #info-img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .clip-path {
    height: 415px;
  }
  .web-box {
    width: 70%;
  }
}

@media screen and (max-width: 680px) {
  #cp-right {
    width: 65%;
  }
  #cp-left {
    width: 35%;
  }
  #cp-right-info h1 {
    font-size: 23px;
  }
  #cp-right-info p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .title-info-box h1 {
    font-size: 22px;
  }
  .title-info-box div {
    width: 10px;
    height: 10px;
  }
  .web-box {
    width: 75%;
  }
  #cp-right {
    width: 100%;
    margin-bottom: 10px;
  }
  #cp-left {
    width: 0;
  }
  #info-img {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .clip-path {
    clip-path: polygon(100% 100%, 100% 0%, -1200% 100%);
  }
  #cp-right-info h1 {
    font-size: 25px;
  }
  #cp-right-info p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  #info-boxes-2 {
    margin-top: 50px;
  }
  #info-boxes-3 {
    margin-top: 50px;
  }
  #info-boxes-4 {
    margin-top: 40px;
  }
  .web-box {
    width: 85%;
  }
  .web-div-images {
    width: 140px;
    height: 67px;
    top: -30px;
    right: -20px;
  }
  .web-info-img {
    width: 40px;
    height: 40px;
  }
}

/* responsive end */
